*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.4s;
}

body
{
    font-family: sans-serif;
}

/* Navigation Bar: Text Style (Home, Shop, ETC) */
a
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    font-weight: bold;
}

/* Navigation Bar: Style */
.navigation_bar
{
    display: flex;
    height: 6rem;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    border-bottom: 3px solid rgb(0, 0, 0);
    margin-bottom: 40px;
}

/* Logo: Location */
.logo 
{
    display: flex;
    align-items: center;
}

/* Logo: Style */
.logo img
{
    width: 4rem;
    height: 4rem;
    margin-left:1rem;
    margin-right: 1rem;
    position: relative;
    top: -5px;
}

/* Site Title: Style */
.site-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    position: relative;
    top: -20px;
}

/* Hamburger Menu Stuff: */

/* Padding Adjustment (Right) */
.hamburger-menu
{
    padding-right: 1.5rem;
    cursor: pointer;
}

/* Size Adjustment */
.hamburger-menu .line
{
   display: block;
   width: 2.5rem;
   height: 2px;
   margin-bottom: 10px;
   background-color: black;
   cursor: pointer;
}

/* Inside Background */
.nav-menu
{
    position: fixed;
    width: 94%;
    top: 6rem;
    left: 18px;
    background-color: rgb(84, 82, 78);
    font-weight: 600;

}

/* Inside Padding */
.nav-menu a
{
    display: block;
    text-align: center;
    padding: 5px 0;
}

/* Inside Hover Color  */
.nav-menu a:hover
{
    background-color: rgb(255, 255, 255);
}

/* Default */
.hide
{
    display: none;
}

/* DESKTOP VIEW  */
@media screen and (min-width:600px)
{
    .navigation_bar{
        justify-content: space-around;
    }
    .nav-menu{
        display: block;
        position: static;
        width: auto;
        margin-right:20px;
        background: none;
    }
    .nav-menu a{
        display: inline-block;
        padding: 15px 20px;
    }

    /* Navigation Bar: Hover Style */
    .nav-menu a:hover
    {
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
    }


    .hamburger-menu{
        display: none;
    }

    .logo img{
        width: 4rem;
        height: 4rem;
    }

    .site-title{
        font-size: 3rem;
        top: -20px;
    }
}